#all-songs{
 padding-top: 60px;
 display: grid;
 width: 100%;
 .songs-container{
  .subcontainer-song{
   h2, h4{
    color: #fff;
   }
   h2{
    font-size: 40px;
   }
   background: linear-gradient(62deg, #000,#222);
   border: #fff groove 2px;
   padding-bottom: 45px;
   .songs-title{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    img{
     padding-left: 10px;
     height: 40px;
     width: 60px;
    }
   }
   .list{
    width: 80%;
    .list-group{
    height: 65vh;
    list-style-type: none;
    font-size: 20px;
    overflow-y: scroll;
     .list-group-item{
      background: transparent;
     }
     .sc-text{
      h4:hover{
       color: rgb(236, 114, 0);
      }
     }
     .yt-text{
      h4:hover{
       color: rgb(219, 0, 9)
      }
     }
    }
   }
  }
 }
}

